@inject IFileSaverService FileSaver
@inject IFolderPickerService FolderPicker

<label>
	Pick File/s:
</label>

<InputFile OnChange="@LoadFiles" accept="*.*" multiple />

	@foreach (var filePath in fileModel.SourceFilesPath)
	{
		<label>@filePath</label>	
	}

<label>Compress To: @fileModel?.DestinationFilePath</label>
<button @onclick="CompressFileAsync">Compress File</button>

<label>Decompress To: @fileModel?.DestinationFilePath</label>
<button @onclick="DecompressFileAsync">Decompress File</button>

@code {
	private FileModel fileModel = new();
	private CancellationTokenSource? _cts;

	protected override async Task OnInitializedAsync()
	{
		fileModel.SourceFilesPath ??= new List<string>();
	}


	private void LoadFiles(InputFileChangeEventArgs e)
	{
		fileModel.SourceFilesPath = e.GetMultipleFiles().Select(f => f.Name);
		fileModel.SourceStreams = e.GetMultipleFiles().Select(f => f.OpenReadStream());
	}

	private async Task CompressFileAsync()
	{
		_cts?.Cancel();
		_cts = new CancellationTokenSource();

		if (fileModel.SourceFilesPath.Count() == 1)
		{
			var filePath = fileModel.SourceFilesPath.First();
			var originStream = fileModel.SourceStreams.First();
			var tempCompressPath = Path.Combine(Path.GetTempPath(), "compressed.gz");
			GzipCompressionService gzip = new();
			await gzip.CompressFileAsync(originStream, tempCompressPath, _cts.Token);

			using var tempFileStream = File.OpenRead(tempCompressPath);

			fileModel.DestinationFilePath = await FileSaver.SaveFileAsync(
				Path.GetFileName(filePath) + ".gz", 
				Path.GetDirectoryName(filePath), 
				tempFileStream, 
				_cts.Token);
		}
		else
		{
			var filePath = fileModel.SourceFilesPath.First();
			var tempCompressPath = Path.Combine(Path.GetTempPath(), "compressed.zip");
			ZipCompressionService zip = new();
			await zip.CompressFiles(
			fileModel.SourceFilesPath.Zip(fileModel.SourceStreams, (string, Stream) (f, s) => new (f, s)).ToArray(),
			tempCompressPath);

			using var tempFileStream = File.OpenRead(tempCompressPath);

			fileModel.DestinationFilePath = await FileSaver.SaveFileAsync(
				Path.GetFileNameWithoutExtension(filePath) + ".zip",
				Path.GetDirectoryName(filePath),
				tempFileStream,
				_cts.Token);
		}
	}

	private async Task DecompressFileAsync()
	{
		_cts?.Cancel();
		_cts = new CancellationTokenSource();

		fileModel.DestinationFilePath = await FolderPicker.PickFolderAsync(_cts.Token);

		GzipDecompressionService gzipDecompressionService = new();
		ZipDecompressionService zipDecompressionService = new();

		foreach (var filePath in fileModel.SourceFilesPath)
		{
			if (Path.GetExtension(filePath) == ".gz")
			{
				await gzipDecompressionService.DecompressFileAsync(filePath, Path.Combine(fileModel.DestinationFilePath, Path.GetFileName(filePath).TrimEnd('.', 'g', 'z')), _cts.Token);
			}
			else if (Path.GetExtension(filePath) == ".zip")
			{
				zipDecompressionService.DecompressFiles(filePath, fileModel.DestinationFilePath);
			}
		}
	}
}
